html, body {
    height:100%;
    box-sizing: border-box;
} 

body{
	background-size: auto 100%;
	background-repeat: no-repeat;
	background: rgba(155, 239, 208, 1);
	background: -moz-linear-gradient(top, rgba(155, 239, 208, 1) 0%, rgba(102,202,183, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(155, 239, 208, 1)), color-stop(100%, rgba(102,202,183, 1)));
	background: -webkit-linear-gradient(top, rgba(155, 239, 208, 1) 0%, rgba(102,202,183, 1) 100%);
	background: -o-linear-gradient(top, rgba(155, 239, 208, 1) 0%, rgba(102,202,183, 1) 100%);
	background: -ms-linear-gradient(top, rgba(155, 239, 208, 1) 0%, rgba(102,202,183, 1) 100%);
	background: linear-gradient(to bottom, rgba(155, 239, 208, 1) 0%, rgba(102,202,183, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4d383', endColorstr='#a4dac3', GradientType=0 );
	background-attachment: fixed;
}

a {
  display: inline-block;
  position: relative;
  color: white;
}
a::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 0.8em;
  width: 100%;
  margin-top: 5px;
}
a:hover {
	color: #e2f3e7;
}

.container {
	padding-top: 100px;
}
@media screen and (min-width: 800px) {
	.container {
	padding-top: 200px;
	}
}

.title-container{
    position: relative;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 200px;
}
@media screen and (min-width: 800px) {
	.title-container{
	    position: relative;
		padding-left: 200px;
		padding-right: 200px;
	}
}
.last-content{
	padding-top: 25px;
}
@media screen and (min-width: 800px) {
	.last-content{
		padding-top: 0px;
	}
}

.title{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: white;
}
@media screen and (min-width: 800px) {
	.title{
	    font-size: 28px;
	}
}

.content{
	font-family: 'Rasa', serif;
    font-size: 2.2em;
    color: white;
    line-height: 1.2em;
}
@media screen and (min-width: 800px) {
	.content{
	    font-size: 2.7em;
	    line-height: 1.3em;
	}
}

.event-container{
    position: relative;
	padding-left: 40px;
	padding-right: 40px;
}
@media screen and (min-width: 800px) {
	.event-container{
	    position: relative;
		padding-left: 200px;
		padding-right: 200px;
	}
}
.event-last-content{
	padding-bottom: 50px;
}

.back{
	font-size: 2.2em;
	position: relative;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    color: white;
}
@media screen and (min-width: 800px) {
	.back {
		position: fixed;
	}
}

/*decor*/
.top-white{
	position: fixed;
	top: 0;
	width: 100%;
	height: 15px;
	background-color: white;
	z-index: 1000;
}

.bottom-white{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 15px;
	background-color: white;
	z-index: 1000;
}

.left-white{
	position: fixed;
	left: 0;
	height: 100%;
	width: 15px;
	background-color: white;
	z-index: 1000;
}

.right-white{
	position: fixed;
	right: 0;
	height: 100%;
	width: 15px;
	background-color: white;
	z-index: 1000;
}


/*social links*/
.social-div{
	text-align: right;
}

.social-links{
    color: rgba(102,202,183, 1);
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

.social-div a:hover {
	background: #e2f3e7;
	color: rgba(102,202,183, 1);
}

/*utilities*/
.bringtotop{
	z-index: 2000;
}